/* ==== BASE ============================================================================================= */
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
	
	* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	.cf:before, .cf:after, .clearfix:before, .clearfix:after {content:""; display:table;}
	.cf:after, .clear, .clearfix:after {clear:both;}
	.cf, .clearfix {*zoom:1;}
	html, body, #outerwrapper {width: 100%; height: 100%;}
	body {color: #1b1b1b; background-color: #fff; font-size: 100%;}
	ul {list-style-type: none; padding-left: 0; margin: 0;}
	a, a:link, a:visited {text-decoration: none; color: $red; outline: 0;}
	input:focus {outline: 0;}
	img {display: block;}
	.hidden {display: none !important;}
	.entry-content li {margin-bottom: 1em;}
	.notouch {display: none;}
	.touch-only {display: none;}
	.hide {display: none;}
	.videoplayer_container, .video_wrapper {
		position: relative; padding-bottom: 56.25%;
		iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; overflow: hidden;}
	}
	
/* ==== END BASE ============================================================================================= */

/* ==== WORDPRESS INLINE POST BODY IMAGE ALIGNMENT ============================================================================================= */
	img {width:100%; height:auto;}
	img.alignleft, img.alignright, img.aligncenter {margin-bottom: 1.625em;}
	p img, .wp-caption {margin-top: 0.4em;}
	.wp-caption {margin: .5em 0 0 0; max-width: 100%;}
	.wp-caption img {display: block; margin: 0; max-width: 100%; height: auto;}
	.wp-caption .wp-caption-text, .gallery-caption {color: #333; line-height: 1.125em; font-style: italic;}
	.wp-caption .wp-caption-txet {margin: 3px 0 15px 0; padding: 0; max-width: 96%;}
	.wp-caption p.wp-caption-text {color: #333; line-height: 1.063em; font-style: italic;}
	.alignleft {display: inline; float: left; margin-right: 10px;}
	.alignright {display: inline; float: right;	margin-left: 10px;}
	.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}
/* ==== END WORDPRESS INLINE POST BODY IMAGE ALIGNMENT ============================================================================================= */

body {background-color:$darkgrey; font-family: $font; font-weight: 400; padding: 0; margin:0;}
h1, h2, h3, h4, h5 {color:$red; line-height:1.3em; font-weight:700;}
p {color:$darkgrey; font-size: 1.1em; margin-bottom: 0.5em;}
button {color:#fff; background-color:$red; padding:10px 14px; border:1px solid $red;}
h1 {font-size:2.5em;}
nav {background-color:#fff; color: $darkgrey;}
figure {background-color:#fff; color:$darkgrey}
article {background:#fff;}

#pagewrapper {width:100%; height:auto; margin:0; padding:0; position:absolute;}
.wrapper {max-width: 1169px; margin:0 auto;}
.active {display:block !important;}
.opennav {left:210px;}
.content {padding:16px; background:#fff;}

/***************** Navigation ******************/
nav {
	color:#fff; background-color: $red; width:210px; height:100%; position: fixed; z-index: 999; display:none;
	ul {list-style: none; margin:0; padding:0;}
	li {margin:0; padding:16px; display:block; border-bottom: 1px solid #fff; font-size: 2em;}
	a {color:#fff !important;}
}

/**************** Header *******************/
header {
	background:#fff; padding:16px; width:100%; margin-bottom: 2em;
	figure {float:right; max-width:220px;}
	#openmenu {float:left; padding:10px;}
	.fa {color:$darkgrey; font-size: 3em;}
}

.home {background:#fff; padding:16px;}

.page-title {padding:1em 0;}

/**************** Clip Share Page *******************/

.szrblock {
	background:#fff; color:$darkgrey; margin:0 auto 2em; clear:both;
	figure {float:left; width:30%;}
	article {float:left; padding:16px; width:70%;}
}

.message {
	background:#fff; color:$darkgrey; margin:0 auto 2em; clear:both; padding:16px;
	h3 {margin-bottom: 0.5em;}
	p {font-size: 2em;}
}

.buttons {
	width:90%; margin:0 auto; clear:both;
	button {width:48%; margin:0 1%; float:left;}
}


/**************** CLIP CUTTER ******************/
.szr-cutter {background:#fff; color:#636363; padding:16px;}
.audchange {
	width:100%; margin:2em 0;
	aside {
		width:18%; margin:0 1%; float:left; background:#fff; padding:16px;
		p{
			min-height:80px;
		}
	}
}
.pullclips {
	width:100%; display:block; margin: 1em 0;
	 .well {background:#ccc; padding:10px;}
}

.spec {width:100%; display:none;}
#spectrum {display: block;}
.editor {width:98%; float:left; margin: 0 1%; cursor: pointer;}

.controls {padding:20px 0;}
.btn-group-left {display: inline-block; width:49%; text-align: right; padding-right:10px;}
.btn-group-right {display: inline-block; width:49%; padding-left: 10px;}
.btn-primary, .btn-success {padding:4px 8px; background:#636363; color:#fff; cursor: pointer; line-height: 1.3em;}

.saving {width:100%;}

#editor {
    width: 100%;
    height: 500px;
}
#effects {
    background-color: #FF0000;
    height: 100%;
    width: 100%;
    float: left;
    margin-right: -300px;
    
    background: #6b6b6b; /* Old browsers */
background: -moz-linear-gradient(top, #6b6b6b 0%, #212121 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(100%,#212121)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #6b6b6b 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #6b6b6b 0%,#212121 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #6b6b6b 0%,#212121 100%); /* IE10+ */
background: linear-gradient(top, #6b6b6b 0%,#212121 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

#export {
    background-color: lime;
    width: 300px;
    height: 100px;
    float: right;

    background: #969696; /* Old browsers */
background: -moz-linear-gradient(top, #969696 0%, #444444 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#444444)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #969696 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #969696 0%,#444444 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #969696 0%,#444444 100%); /* IE10+ */
background: linear-gradient(top, #969696 0%,#444444 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

#editor-spectrum
{
    background-color: #FFF;
width: 200px;
height: 200px;
float: left;

}

#editor-sequences {
    background-color: #7F6;
float: right;
}

.sequence-editor {
    background-color: #3F6;
    width: 500px;
    height: 100px;
    border: 1px solid #000;
}

.effect {
    background-color: rgba(255, 255, 255, 0.05);
 width: 170px;
height: 80%;
box-shadow: inset 0px 0px 10px #000;
margin-top: 10px;
margin-left: 10px;
float: left;
color: #EEE;
font-size: 10px;
text-align: center;
}
