
/************************************************
*************** SMALL DESKTOP *******************
************************************************/
@media screen and (max-width: 1200px) {
	.wrapper {padding:0 10px;}

}

@media screen and (max-width: 1020px) {
		
}


/************************************************
********************* TABLET *******************
************************************************/
@media screen and (max-width: $tab-max) {
	.btn-group-left {display: block; width:100%; padding:10px; text-align: center;}
.btn-group-right {display: block; width:100%; padding:10px; text-align: center;}
	#audchange {
		aside {width:100%; margin-bottom: 1.5em;}
	}
}

/***********************************************
**************** SMALL TABLET *****************
************************************************/
@media screen and (max-width: $tab-med) {

}

/***********************************************
**************** SMART PHONE *****************
************************************************/
@media screen and (max-width: $mob-max) {
	

}