
/************************************************
*************** SMALL DESKTOP *******************
************************************************/
@media screen and (max-width: 1200px) {
	.wrapper {padding:0 10px;}
}

@media screen and (max-width: 760px) {

	#audchange {
		aside {width:96%; margin:0 2% 3%; padding:16px;}
	}
}


/************************************************
********************* TABLET *******************
************************************************/
@media screen and (max-width: $tab-max) {
	.btn-group-left {display: block; width:100%; padding:10px; text-align: center;}
	.btn-group-right {display: block; width:100%; padding:10px; text-align: center;}
}

/***********************************************
**************** SMALL TABLET *****************
************************************************/
@media screen and (max-width: $tab-med) {

}

/***********************************************
**************** SMART PHONE *****************
************************************************/
@media screen and (max-width: $mob-max) {
	

}