$mob-min: 321px;
$mob-max: 480px;
$tab-min: 481px;
$tab-med: 600px;
$tab-max: 768px;
$desk-min: 769px;

$overlayblack: rgba(0, 0, 0, 0.8);
$darkgrey: #636363;
$red: #ed2024;

$whiteborder: 2px solid #fff;
$redborder: 2px solid #ed2024;

$font: 'Montserrat', sans-serif;